main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: calc(256px + 640px + 256px);
    margin: 0 auto;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    flex:1;
}